// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path:"../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//import admin lte
@import '~admin-lte/dist/css/adminlte.css'; 
@import "vue-select/src/scss/vue-select.scss";

//@import '~admin-lte/plugins/fontawesome-free/css/all.css'
//@import "~@fortawesome/fontawesome-free/scss/regular.scss"
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

.router-link-exact-active{
    background-color:#3490dc;
    color:white !important;
}
.card-primary.card-outline {
    border-top: 3px solid #007bff;
}
.main-footer{
    margin-top:60px;
}

.marquee {
    top: 2em;
    position: relative;
    box-sizing: border-box;
    animation: marquee 15s linear infinite;
}

.marquee:hover {
    animation-play-state: paused;
}

/* Make it move! */
@keyframes marquee {
    0%   { top:   5em }
    100% { top: -1em }
}

.marquee-container {
    width: 18em;
    height: 8em;
    margin: 1em auto;
    overflow: hidden;
    background: white;
    position: relative;
    box-sizing: border-box;
}